*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

body{
    background-image: url(./img/img\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.div-1{
    color: black;
    
}